@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #d74949;
}

main {
  background-color: #f3f3f3;
  max-width: 1110px;
  height: calc(100vh - 70px);
  margin: 0 auto;
  padding: 100px 50px 0;
}

main > h1 {
  font-size: 14px;
  font-weight: lighter;
}

main > h2 {
  font-size: 16px;
  font-weight: bolder;
  text-align: right;
}

main > p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.card-container {
  position: relative;
  height: 300px;
  width: 200px;
  border-radius: 15px;
  background-color: #f3f3f3;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.card-container > .dot {
  position: absolute;
  bottom: -28px;
  right: -7px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.card-image {
  max-height: 185px;
}

.card-content {
  max-height: calc(300px - 185px);
  padding: 20px;
}

.card-content h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

.card-content > p {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.card-content > a {
  text-decoration: none;
  width: 18px;
  height: 18px;
}

footer {
  background-color: #3a3a3a;
  height: 70px;
  width: 100%;
}

footer > p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
}
